.idea
*.iml
target
install/container/tmp
wapi/src/main/resources/version
ansible/*.retry
venv
.terraform
build
pkg
terraform.d
terraform-provider*
version
.settings
.vagrant
artisan/art/art
artisan/runner/host/env
artisan/runner/host/binary/host-runner
