#
#    Onix Pilot Host Control Service
#    Copyright (c) 2018-2021 by www.gatblau.org
#    Licensed under the Apache License, Version 2.0 at http://www.apache.org/licenses/LICENSE-2.0
#    Contributors to this project, hereby assign copyright in this code to the project,
#    to be licensed under the same terms as the rest of the code.
#

# NOTE: to make storage persistent uncomment the "volumes" sections below
# Also note there might be a networking issue trying to connect pilotctl to the external artisan registry that is
# outside of this compose network
version: '3'

services:

  db:
    image: postgres:13
    container_name: db
    restart: always
    environment:
      - POSTGRES_PASSWORD=${PG_ADMIN_PWD}
    ports:
      - "5432:5432"
#    volumes:
#      - db:/var/lib/postgresql/data
  
  dbman_ox:
    image: quay.io/gatblau/dbman-snapshot
    container_name: dbman_ox
    restart: always
    environment:
      - OX_DBM_DB_HOST=db
      - OX_DBM_DB_USERNAME=${ONIX_DB_USER}
      - OX_DBM_DB_PASSWORD=${ONIX_DB_PWD}
      - OX_DBM_DB_ADMINUSERNAME=${PG_ADMIN_USER}
      - OX_DBM_DB_ADMINPASSWORD=${PG_ADMIN_PWD}
      - OX_DBM_HTTP_USERNAME=${DBMAN_HTTP_USER}
      - OX_DBM_HTTP_PASSWORD=${DBMAN_HTTP_PWD}
      - OX_DBM_HTTP_AUTHMODE=${DBMAN_AUTH_MODE}
      - OX_DBM_APPVERSION=${DBMAN_APP_VERSION}
    ports:
      - "8085:8085"
  onix:
    image: quay.io/gatblau/onix-snapshot
    depends_on:
      - db
      - dbman_ox
    container_name: ox
    restart: always
    environment:
      - DB_HOST=db
      - DB_USER=${ONIX_DB_USER}
      - DB_PWD=${ONIX_DB_PWD}
      - DB_ADMIN_USER=${PG_ADMIN_USER}
      - DB_ADMIN_PWD=${PG_ADMIN_PWD}
      - WAPI_AUTH_MODE=${AUTH_MODE}
      - WAPI_ADMIN_USER=${ONIX_HTTP_ADMIN_USER}
      - WAPI_ADMIN_PWD=${ONIX_HTTP_ADMIN_PWD}
      - WAPI_EVENTS_ENABLED=${BROKER_ENABLED}
      - WAPI_EVENTS_SERVER_HOST=oxmsg
      - WAPI_EVENTS_SERVER_PORT=${BROKER_PORT}
    ports:
      - "8080:8080"
  dbman_pilotctl:
    image: quay.io/gatblau/dbman-snapshot
#    depends_on:
#      - oxdb
    container_name: dbman_pilotctl
    restart: always
    environment:
      - OX_DBM_DB_HOST=db
      - OX_DBM_DB_NAME=pilotctl
      - OX_DBM_DB_USERNAME=${PILOTCTL_DB_USER}
      - OX_DBM_DB_PASSWORD=${PILOTCTL_DB_PWD}
      - OX_DBM_DB_ADMINUSERNAME=${PG_ADMIN_USER}
      - OX_DBM_DB_ADMINPASSWORD=${PG_ADMIN_PWD}
      - OX_DBM_HTTP_USERNAME=${DBMAN_HTTP_USER}
      - OX_DBM_HTTP_PASSWORD=${DBMAN_HTTP_PWD}
      - OX_DBM_HTTP_AUTHMODE=${DBMAN_AUTH_MODE}
      - OX_DBM_APPVERSION=${DBMAN_APP_VERSION}
      - OX_DBM_REPO_URI=${DBMAN_PILOTCTL_REPO_URI}
    ports:
      - "8086:8085"
  pilotctl:
    image: quay.io/gatblau/pilotctl
    depends_on:
      - db
      - dbman_pilotctl
      - onix
    container_name: pilotctl
    restart: always
    environment:
      - OX_HTTP_UNAME=${PILOTCTL_HTTP_USER}
      - OX_HTTP_PWD=${PILOTCTL_HTTP_PWD}
      - OX_HTTP_PORT=${PILOTCTL_HTTP_PORT}
      - OX_PILOTCTL_DB_HOST=db
      - OX_PILOTCTL_DB_USER=${PILOTCTL_DB_USER}
      - OX_PILOTCTL_DB_PWD=${PILOTCTL_DB_PWD}
      - OX_WAPI_URI=${WAPI_URI}
      - OX_WAPI_USER=${ONIX_HTTP_ADMIN_USER}
      - OX_WAPI_PWD=${ONIX_HTTP_ADMIN_PWD}
      - OX_WAPI_INSECURE_SKIP_VERIFY=true
      - OX_ART_REG_URI=${PILOTCTL_ART_REG_URI}
      - OX_ART_REG_USER=${PILOTCTL_ART_REG_USER}
      - OX_ART_REG_PWD=${PILOTCTL_ART_REG_PWD}
    ports:
      - "8888:8888"

#volumes:
#  db: