---
name: Onix Config Manager
description: Onix services to enable Pilot Control
version: 1.0
profiles:
  - name: full
    description: deploys all services
    services:
      - name: db
      - name: evr-mongo-db
      - name: evr-mongo-app
      - name: nexus-app
      - name: artreg-app
      - name: ox-app
      - name: pilotctl-app
      - name: pgadmin-app
      - name: mongodb-gui-app      

  - name: full-test-data
    description: deploys all services
    services:
      - name: db
      - name: evr-mongo-db
      - name: evr-mongo-app
      - name: nexus-app
      - name: artreg-app
      - name: ox-app
      - name: ox-app-test-data
      - name: pilotctl-app
      - name: pgadmin-app
      - name: mongodb-gui-app
      
  - name: config-db
    description: deploys the configuration database only
    services:
      - name: db
      - name: ox-app
        is:
          # overrides load-balanced behaviour in service
          load-balanced: 2

  - name: art-reg
    description: deploys the artisan package registry only
    services:
      - name: nexus-app
      - name: artreg-app
        is:
          # overrides load-balanced behaviour in service
          load-balanced: 2

  - name: nexus
    description: deploys nexus repository manager only
    services:
      - name: nexus-app

services:
  - name: db
    description: PostgreSQL Database service
    uri: https://raw.githubusercontent.com/gatblau/onix/dev/deploy/svc/db.yaml
    image: docker.io/postgres:13
    port: "5432"

  - name: evr-mongo-db
    description: Mongo Database for Event Receiver
    uri: https://raw.githubusercontent.com/gatblau/onix/dev/deploy/svc/evr-mongo-db.yaml
    image: docker.io/mongo:5
    port: "27017"

  - name: evr-mongo-app
    description: Pilot Control Event Receiver for Mongo
    uri: https://raw.githubusercontent.com/gatblau/onix/dev/deploy/svc/evr-mongo-app.yaml
    image: quay.io/gatblau/pilotctl-evr-mongodb:0.0.4-300921174051295-11aab8b6cc
    port: "8885"
    is:
      public: evr-mongo.onix.com
      encrypted-in-transit:

  - name: nexus-app
    description: Nexus Repository Manager for Artisan Registry
    uri: https://raw.githubusercontent.com/gatblau/onix/dev/deploy/svc/nexus-app.yaml
    image: sonatype/nexus3
    port:
      http: "8081"
      docker: "5000"
    is:
      public: nexus.onix.com
      encrypted-in-transit:

  - name: artreg-app
    description: Artisan Registry
    uri: https://raw.githubusercontent.com/gatblau/onix/dev/deploy/svc/artreg-app.yaml
    image: quay.io/gatblau/artisan-registry:0.0.4-011021162133879-a3dedecb3f-RC1
    port: "8082"
    is:
      public: artreg.onix.com
      encrypted-in-transit:

  - name: ox-app
    description: Onix Web API
    uri: https://raw.githubusercontent.com/gatblau/onix/dev/deploy/svc/ox-app.yaml
    schema_uri: https://raw.githubusercontent.com/gatblau/ox-db/e94e263989f959a4cfbd06c2af0232fdab94b709
    image: quay.io/gatblau/onix-snapshot:v0.0.4-1af14bb-021021131813
    port: "8080"
    is:
      public: wapi.onix.com
      encrypted-in-transit:

  # image-less services run as a job, in this case to populate Onix database with test data
  # note the definition does not define an image and the uri points to a service manifest which declares the
  # scripts to run in one or more runtimes
  - name: ox-app-test-data
    description: add test data into the Onix database
    uri: ../../deploy/svc/ox-app-test-data.yaml

  - name: pilotctl-app
    description: Pilot Control
    uri: https://raw.githubusercontent.com/gatblau/onix/dev/deploy/svc/pilotctl-app.yaml
    schema_uri: https://raw.githubusercontent.com/gatblau/pilotctl-db/da13b0b770d5898327e95e0545266a229f0c837c
    image: quay.io/gatblau/pilotctl:0.0.4-161021085624494-f2346825d0
    port: "8888"
    is:
      public: pilotctl.onix.com
      encrypted-in-transit:

  - name: pgadmin-app
    description: web gui client for postgresql database
    uri: https://raw.githubusercontent.com/gatblau/onix/dev/deploy/svc/pgadmin-app.yaml
    image: docker.io/dpage/pgadmin4:latest
    port: "8083"
    is:
      public: pgadmin.onix.com

  - name: mongodb-gui-app
    description: web gui client for mongo database
    uri: https://raw.githubusercontent.com/gatblau/onix/dev/deploy/svc/mongodb-gui-app.yaml
    image: docker.io/mongo-express:latest
    port: "8084"
    is:
      public: mongodbgui.onix.com
...
