.terminal {
    background-color: #151515;
    color: #F0F0F0;
    height: 400px;
    overflow: scroll;
}
.files {
    height: 400px;
    overflow: scroll;
}
.environ {
    height: 400px;
    overflow: scroll;
    white-space: nowrap;
}
.banner-font-size {
    font-size: large;
}